.lgc-bg {
    background-color: rgb(242, 242, 242);
}

.text-color {
    color: maroon;
    font-size:medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}